html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  color: white;
  display: flex;
  justify-content: center;
}

p {
  color: white;
}

#asilver {
  background-color: red;
  position: relative;
  left: 15%;
  border-radius: 4%;
  z-index: 2;
}

.isliver {
  border: 30px solid blue;
  z-index: 1;
  margin-top: 1rem;
  float: right;
}

.sback {
  background: url('https://media.cnn.com/api/v1/images/stellar/prod/221111005636-01-nba-commissioner-adam-silver.jpg?c=original') center / cover no-repeat fixed;
  border-top: 10px solid blue;
  border-bottom: 10px solid blue;
}

#lebron {
  background-color: purple;
  position: relative;
  left: 15%;
  border-radius: 4%;
  z-index: 2;
}

.ilebron {
  border: 30px solid #f3c01a;
  z-index: 1;
  float: right;
}

.lback {
  background: url('https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcShDLk1Ki2O6UyAN82d6i_JBbEHMMwVmCcXepAO2HNWEolxfPbrlPVKzsufM769B8tL-HejLrEKcLqzWYc') center / cover no-repeat fixed;
  border-bottom: 10px solid #f3c01a;
}

.lback2{
  background: url('https://fadeawayworld.net/.image/t_share/MTk2MjQ3NDE2Mjg5MTA5Mjk2/bron-time.jpg')
}

#jordan {
  background-color: black;
  position: relative;
  left: 15%;
  border-radius: 4%;
  z-index: 2;
}

.ijordan {
  border: 30px solid #e20505;
  z-index: 1;
  float: right;
}

.jback {
  background: url('https://media.cnn.com/api/v1/images/stellar/prod/210616193554-01-michael-jordan-athlete-activism.jpg?q=w_3000,h_1688,x_0,y_0,c_fill') center / cover no-repeat fixed;
}

.jback2{
  background: url('https://res.cloudinary.com/ybmedia/image/upload/c_crop,h_675,w_1200,x_0,y_6/c_fill,f_auto,h_900,q_auto,w_1600/v1/m/d/9/d9e35e1fba3d317eb7a4c3bb926a029c79dcd2e9/michael-jordan-career-retrospective.jpg') 
}


#curry {
  background-color: #2962c7;
  position: relative;
  left: 15%;
  border-radius: 4%;
  z-index: 2;
}

.icurry {
  border: 30px solid #ffe308;
  z-index: 1;
  float: right;
}

.cback {
  background: url('https://dims.apnews.com/dims4/default/7e01c58/2147483647/strip/true/crop/5632x3755+0+0/resize/599x399!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F03%2Fac%2F28f345a30542b296b119976cf475%2F9818ccc9cf8a4e768a9f132937b6c631') center / cover no-repeat fixed;
  border-top: 10px solid #ffe308;
  border-bottom: 10px solid #ffe308;
}

.cback2{
  background: url('https://cloudfront-us-east-1.images.arcpublishing.com/bostonglobe/SJWSD6FRWMTZCOVPFYOVD7GN7M.jpg') center / cover no-repeat fixed;
}

.nback{
  background: url('https://upload.wikimedia.org/wikipedia/en/5/5f/Spfldlogo.png') center / cover no-repeat fixed;
}

form {
  width: 700px;
  padding: 25px;
  border-radius: 8px;
  margin: 25px auto;
  background-color: white;
}


footer {
  background-color: blue;
  color: white;
  text-align: center;
}

footer>a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

footer>a:hover {
  color: red;
}

.text-center {
  text-align: center;
}

.vertical-center {
  align-self: center;
}

nav {
  padding: 1rem;
}

nav>a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

nav>a:hover {
  color: blue;
}

.box {
  width: 33%;
  margin: 1rem;
  display: inline-block;
}

.box2 {
  width: 33%;
  margin: 1rem;
}

.pictures {
  float: right;
  height: 20%;
  margin: 2%;
  display: grid;
  justify-content: end;
}

.pictures2 {
  float: left;
  height: 20%;
  margin: 2%;
  display: grid;
  justify-content: start;
}

.pictures img {
  height: 300px;
  width: 300px;
  border: 10px solid blue;
  border-radius: 50%;
}

.pictures2 img {
  height: 300px;
  width: 300px;
  border: 10px solid red;
  border-radius: 50%;
}

.container {
  width: 98%;
  margin: 1rem;
}

fieldset {
  border: none;
  margin-top: 20px;
}

.gap-20 {
  gap: 20px;
}

.flex {
  display: flex;
}

.block-label {
  display: block;
}

legend {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

label {
  margin: 10px 15px 5px 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.background-blue {
  background-color: blue;
}

.background-red {
  background-color: red;
}

.background-black {
  background-color: black;
}

.background-brown {
  background-color: #581717;
}

.border-blue {
  border: 10px solid blue;
}

.background-colorb2 {
  background-color: #840029;
}

span {
  color: gold;
  font-style: italic;
  font-weight: bold;
}

div h2 {
  color: #9999FF;
  text-transform: uppercase;
}

h3 {
  color: red;
}

.color-white {
  color: white
}

.color-gold {
  color: #f3c01a;
}

.color-red {
  color: red;
}

.color-yellow{
  color: #ffe308
}